/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
      &kp Q           &kp W               &kp E             &kp R      &kp T      &kp Y              &kp U        &kp I            &kp O               &kp P
 &mt LGUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F      &kp G      &kp H  &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI
    &lt 4 Z           &kp X               &kp C             &kp V      &kp B      &kp N              &kp M    &kp COMMA          &kp DOT         &lt 5 SLASH
                                                        &lt 1 TAB  &kp ENTER  &kp SPACE    &lt 2 BACKSPACE
            >;
        };

        Nav {
            bindings = <
        &none             &none             &none           &none      &none  &kp K_REDO  &kp K_PASTE     &kp K_COPY    &kp K_CUT  &kp K_UNDO
 &kp LEFT_GUI  &kp LC(LEFT_ALT)  &kp LEFT_CONTROL  &kp LEFT_SHIFT      &none    &kp CAPS     &kp LEFT       &kp DOWN       &kp UP   &kp RIGHT
        &none             &none             &none           &none      &none  &kp INSERT     &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP     &kp END
                                                            &mo 1  &kp ENTER     &kp DEL        &mo 3
            >;
        };

        Num {
            bindings = <
 &kp LEFT_BRACKET  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET   &none            &none              &none          &none     &none
         &kp SEMI  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6          &kp EQUAL   &none  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RGUI
        &kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3           &kp BSLH   &none            &none              &none         &trans     &none
                                               &kp NUMBER_0          &kp MINUS   &none            &mo 2
            >;
        };

        Func {
            bindings = <
  &none  &kp F7  &kp F8  &kp F9  &kp F10  &trans           &trans             &trans         &trans         &trans
  &none  &kp F2  &kp F5  &kp F6  &kp F11  &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_GUI
  &none  &kp F1  &kp F2  &kp F3  &kp F12  &trans            &none              &none         &trans         &trans
                         &trans   &trans  &trans           &trans
            >;
        };

        Sym {
            bindings = <
 &kp LEFT_BRACE    &kp AMPS    &kp ASTRK  &kp LEFT_PARENTHESIS        &kp RIGHT_BRACE  &trans  &trans  &trans  &trans  &trans
      &kp COLON  &kp DOLLAR  &kp PERCENT             &kp CARET               &kp PLUS  &trans  &trans  &trans  &trans  &trans
      &kp TILDE    &kp EXCL       &kp AT              &kp HASH               &kp PIPE  &trans  &trans  &trans  &trans  &trans
                                          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans
            >;
        };

        Layer__5 {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans
            >;
        };

        Layer__6 {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans
            >;
        };
    };
};
